html,body {
    height:100%; 
}

header {
        
    display:block;
    background:#286af0;
    padding:10px 0px;
  
}
section {
    width: 58%;
    background: #ccc;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;


}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article{
    text-align: justify;
    border: 1px solid purple;
    margin: 5%;
}

aside {
    float: right;
    border: 1px solid red;
    width: 25%;
    
  

}

footer {
    position: relative;
    margin-top: -50px;
    height: 40px; 
    padding:5px 0px;
    clear: both;
    background: #286af0;
    text-align: center;
    color: #fff;
}
figure {
    display: table; margin: 0 auto;

}

nav{
    position: relative;
    border: 1px solid red;
    width: auto;
    text-align: justify;
  /*overflow: hidden;*/
  overflow: auto;
float: left;
width: 15%;
    align-content: center ;
    justify-content: center  

}
